@model IEnumerable<SO2FinalProject.Models.Employees>

@{
    ViewData["Title"] = "Index";
}
<div style="font-family:Arial">
    <h1>Index</h1>

    <p>
        <a asp-action="Create">Create New</a>
    </p>
    <p>
        @using (Html.BeginForm("Index", "Employees", FormMethod.Get))
        {
            <b>Search By:</b> @Html.RadioButton("searchBy", "First Name", true) <text>First Name</text>
            @Html.RadioButton("searchBy", "Last Name") <text>Last Name</text>
            @Html.RadioButton("searchBy", "Email") <text>Email</text><br />
            @Html.TextBox("search") <input type="submit" value="Search" />
        }
    </p>
    <table border="1" class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.PhoneNum)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HireDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Department)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Job)
                </th>
                <th></th>
            </tr>
            
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.LastName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PhoneNum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.HireDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.DepartmentName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Job.Title)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.EmployeeId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.EmployeeId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.EmployeeId">Delete</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>
